body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 230, 230);
}
#logo{
    margin-left: 43%;
}
.banner{
    margin: 0%;
    display: flex;
    background-image: url(images/b1.png);
}
.d{
    margin: 8%;
}
.d h1{
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    color: #FFF;
}
.d p{
    color: #FFF;
}
.button{
    font-size: 18px;
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    border-radius: 3px;
}
.progress{
    margin-top: 5px;
}
.how-to{
    text-align: center;
}
.how-to h2{
    font-size: 44px;
    line-height: 44px;
    font-weight: 900;
}
.how-to p{
    color: #000;
    font-size: 16px;
}
.how-to h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    color: #f79826;
}

.makeing{
    padding-left: 10px;
    display: flex;
}
.makeit p{
    color: #000;
    font-size: 16px;
}
.makeit h1{
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    color: #f79826;
}
.makeit h2{
    text-align: center;
    font-size: 44px;
    line-height: 44px;
    font-weight: 900;
}
.nameit p{
    color: #000;
    font-size: 16px;
}
.nameit h1{
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    color: #f79826;
}
.nameit h2{
    text-align: center;
    font-size: 44px;
    line-height: 44px;
    font-weight: 900;
}
.imagesp{
    width: 25%;
}
#imgm{
    padding-left: 210px;
}
/* .led{
    text-align: center;
    background-image: url(images/le.png);
    background-repeat: no-repeat;
    
}
.led h1{
    color: #FFF;
    text-align: center;
    width: 100%;
    padding: 30px;
} */
.footer{
    padding-top: 30px;
    text-align: center;
    background-image: url(images/b1.png);
}
.footer h1{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
}
.footer p{
    color: #fff;
}
.fotter-fucntion{
    display: flex;
    text-align: center;
}
.footer-img{
    
    padding: 100px;
}
.footer-img .card-link{
    background: transparent;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
	line-height: 20px;
	font-weight: 600;
    border: 1px solid #FFF;
    border-radius: 5px;
}
#footer-ll{
    text-align: center;

}